<h1>Edit <%= @artist.name %></h1>
<%= form_for(@artist) do |f| %>
  <label>Edit Artist Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Edit Artist Bio:</label><br>
  <%= f.text_area :bio %><br>

  <%= f.submit %>
<% end %>
